.biz_review_section {
    padding: 40px 0;
}

.biz_review_main {
    display: flex;
    align-items: center;
}
.biz_review img {
    max-width: 100%;
    margin: 0 auto;
}
.img.biz_review_mob {
    display: none;
}
.biz_review img {
    max-width: 100%;
    margin: 0 auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.biz_review.biz_review_content {
    padding-left: 40px;
}
.index-title {
    font-size: 35px;
    color: #333;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
}
.biz_review p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
}
.biz_review a {
    background-color: #ff783d;
    border: 2px solid #ff783d;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 34px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    transition: 0.4s;
}
a {
    color: #337ab7;
    text-decoration: none;
}